<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %></title>
    <%-include element/admin/css.ejs%>
</head>

<body>
    <%-include element/admin/head.ejs%>
    <%-body%>
    <%-include element/admin/footer.ejs%>
</body>
<%-include element/admin/js.ejs%>
</html>